#navbar_login img{
    height: 50px;
    width: 50px;
    margin-left: 100px;
}
#navbar_login{
    background-color: rgb(207, 35, 56);
}

#navlbl_login{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}
.login_size{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.login_form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    border: 1px solid black;
}

.login_form .row{
    margin-bottom: 10px;
}

.login_form_row1{
    background-color: rgb(239,241,245);
}