#searchInput{
    display: flex;
    text-align: right;
    flex-direction: row;
}

#searchInput Button{
    background-color: white;
    color: black;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 0 5px 5px 0;
}

#searchInput Input{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px 0 0 5px;
    border-right: 0;
}
#userListLastTd{
    border: 0;
}
.popupDisable{
    background-color: white;
    width: 450px;
}
.row1{
    border: 1px solid rgb(95, 95, 95);
    border-radius:  10px;
    background-color: rgb(241, 241, 241);
    color:rgb(207, 35, 56);
    font-weight: bold;
    height: 60px;
    display: flex;
    align-content: center;
    padding-left: 20px;
}

.row2{
    border: 1px solid rgb(95, 95, 95);
    height: 120px;
    display: flex;
    align-content: center;
    padding-left: 20px;
    background-color: white;
}

.row2_1{
    margin-bottom: 20px;
}
.row2_2 .col-2{
    margin-right: 15px;
}
